/* Dropdown Button */
.dropbtn {
    background-color: #00AFB9;
    color: #FED9B7;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #FED9B7;
}

nav {
    background-color: #F07167;
}

nav a {
    background-color: #00AFB9;
    text-align: center;
    color: #FED9B7;
    font-size: 16px;
    padding: 16px;
    border: none;
    text-decoration: none;
}

.msg {
    display: grid;
    text-align: center;
    color: #FDFCDC;
    padding: 35px;
    
}

.msg p {
    padding: 15px;
}

main section {
    text-align: center;
}

#background {
    height: 500px;
    background-color: #00AFB9;
}



body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}







/* Footer */
footer {
    background-color: #FED9B7;
    color: #0081A7;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #0081A7;
    text-decoration: none;
}

footer a:hover {
    background-color: #F07167;
    color: #FED9B7;
    text-decoration: underline;
}


.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}